@font-face {
  font-family: 'MyFont';
  src: url('../Fonts/shlop\ rg.otf');
}

.card {
    background-image: url('https://media.tenor.com/ES2gLiFcLsEAAAAM/rick-and-morty-morty.gif');
    background-repeat: no repeat;
    background-size: cover;
    border-radius: 30px;
    box-shadow: 0 2px 10px #5c06f1a8;
    padding: 20px;
    min-width: 14rem;
    max-width: 14rem;
    top: 60%;
    left: 50%;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'MyFont';
    transform: translate(-50%, -50%);
    transition: 0.5s;
    z-index: 2;
  }

  .card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 30px;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(12px) brightness(0.5);
    -webkit-backdrop-filter: blur(10px) brightness(0.2);
  }

  .card * {
    position: relative;
    z-index: 3;
  }
 .card:hover {
    margin-top: 1px;
    scale: 1.03 1.03;
    cursor: pointer;
    box-shadow: 0 0 1rem rgba(216, 89, 11, 0.638), 0 0 2rem rgba(255, 147, 80, 0.461), 0 0 4rem rgba(255, 147, 80, 0.461);
   } 

 .card img {
    top: 1.2em;
    font-family: 'MyFont';
    box-shadow: 0 2px 1em #c88209 ;
    border-radius: 2em;
    height: 200px;
    width: 100%;
    opacity: 0.6;
    
  }

  .card img:hover{
    opacity: 1;
    transform: scale(1.03);
    filter: brightness(1.1);
  }
  
  .link{
    color: aliceblue;
    text-decoration: none;
}

  .card .name {
    top: 1.6rem;
    font-family: 'MyFont';
    font-size: 2.1em;
    color: #f3e81fe7;
    display: flex;
    justify-content: center;
    overflow: hidden;
    transition: .8s;
    text-shadow: 0 0 .2rem rgba(0, 0, 0, 0.461), 0 0 .1rem rgba(0, 0, 0, 0.461), 0 0 .8rem rgba(0, 0, 0, 0.461);
  }

  .card .name:hover{
    cursor: pointer;
    transform: scale(1.09);
    color: #ff69bbfb;
    text-shadow: 0 0 .2rem rgba(0, 0, 0, 0.461), 0 0 .1rem rgba(81, 255, 110, 0.461), 0 0 .8rem rgba(0, 0, 0, 0.461);
}

.card .details {
  display: flex;
  flex-direction: column;
  font-family: 'MyFont';
  color: white;
  top: -0.8rem;
  font-size: 1.6rem;
  height: 1rem;
  align-items: center;
  justify-content: center;
  transition: .8s;
  text-shadow: 0 0 .2rem rgba(0, 0, 0, 0.461), 0 0 .1rem rgba(0, 0, 0, 0.461), 0 0 .8rem rgba(0, 0, 0, 0.461);
}

.card .details:hover{
  cursor: pointer;
  transform: scale(1.1);
  color: #5d5ae4ea;
  text-shadow: 0 0 .2rem rgba(0, 0, 0, 0.461), 0 0 .1rem rgba(81, 255, 110, 0.461), 0 0 .8rem rgba(0, 0, 0, 0.461);
}

  .boton {
    background-color: transparent;
    border: none;
    color: #fffdfd;
    cursor: pointer;
    position: absolute;
    right: 1px;
    top: -1em;
    padding: 7px;
  }
  
  .card .boton:hover {
    background-color: rgb(226, 43, 43);
    color: white;
    border-radius: 50%;
    display: flex;
  }

  .fav {
    background-color: transparent;
    border: none;
    color: #fffdfd;
    cursor: pointer;
    position: absolute;
    left: 1px;
    top: -1em;
    padding: 6px;
  }

  .card .fav:hover {
    background-color: rgb(135, 135, 135);
    color: white;
    border-radius: 50%;
    display: flex;
  }

  span .material-symbols-outlined{
    color: red;
  }

  .randomChar{
    margin-right: 1.7em; 
    margin-left: auto;
    font-weight: bold;
    border-radius: 50px;
    margin-bottom: 0;
    width: 13.8rem;
    height: 2.5rem;
    color: #ffffff;
    background: linear-gradient(rgba(69, 81, 253, 0.833), rgba(0, 0, 0, 0));
    border: transparent;
    overflow: hidden;
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.3em;
    transition: 300ms;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.757);
    text-decoration: none; 
  }

  .randomChar:hover{
    color: #ffffff;
    background: linear-gradient(rgba(69, 81, 253, 0.833), rgba(0, 0, 0, 0));
    box-shadow: 0 0 0em #1b65d5;
    transform: scale(1.06);
    text-shadow: 0 0 .1rem rgba(0, 0, 0, 0.461), 0 0 .1rem rgba(0, 0, 0, 0.461), 0 0 .8rem rgba(0, 0, 0, 0.461);
    text-decoration: none; 
  }



.blurInExpand{animation:blur-in-expand 0.4s linear both} @keyframes blur-in-expand{0%{transform:scale(0);filter:blur(12px);opacity:0}100%{transform:scale(1);filter:blur(0);opacity:1}}


.card .fav .shakeLeftRight:hover{animation:rotate-vertical-center 0.4s} @keyframes rotate-vertical-center{0%{transform:rotateY(0)}100%{transform:rotateY(360deg)}}


.blurIn{animation:scale-up-center 1.4s; } @keyframes scale-up-center{ 0%{transform:scale(.5)} 100%{transform:scale(1)} } 


.rotatescaledown{animation:scale-up-horizontal-center 0.8s} @keyframes scale-up-horizontal-center{0%{transform:scaleX(.2)}100%{transform:scaleX(1)}}