@font-face {
  font-family: 'MyFont';
  src: url('../Fonts/shlop\ rg.otf');
}

.search{
  display: flex;
  justify-content: space-between;
}

.buscador {
  border: 2px solid #909090;
  border-bottom: 2px solid #909090;
  border-radius: 15px;
  outline: black;
  margin-top: 2.3em;
  margin-bottom: 0.3em;
  margin-right: 1.9em;
  padding: 0.8em;
  width: 100%;
  position: relative;
  align-items: center;
  text-align: center;
  box-shadow: 0px 2px 9px black;
  font-family: 'MyFont';
  font-size: 1.3em;
}

.search input:focus {
  outline: none;
  border-color: #7029ebf7;
  transition-delay: 0.2s ;
}

.search .border {
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #5c06f1a8;
  transition: width 0.5s ease-in-out;
}


.agrega{
  width: -10em;
  top: -3.1em;
  position: relative;
  margin-top: -19.3em;
  border-radius: 5em;
  margin-bottom: 1.5em;
  margin-left: 15.9em;
  margin-right: -3.5em;
  border: none;
  background-color: transparent;
  color: rgb(255, 255, 255);
}

.agrega:hover {
  color: rgb(181, 199, 255);
} 



.sliderotatehorizontalbottom{animation:scale-down-horizontal-center 0.6s} @keyframes scale-down-horizontal-center{0%{transform:scaleX(1)}100%{transform:scaleX(.3)}}


.scaleupcenter{animation:scale-up-center 0.4s; } @keyframes scale-up-center{ 0%{transform:scale(.5)} 100%{transform:scale(1)} }


/* {animation:scale-down-center 0.4s; } @keyframes scale-down-center{0%{transform:scale(1)}100%{transform:scale(.5)}} */