.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(51, 50, 50);
    z-index: 9999;
  }
  
  .scaleupLeft {
    animation: scaleup-left 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
  
  .imagenNav {
    margin-right: 1.8em;
    margin-left: -1.2em;
    display: grid;
    align-items: center;
  }
  
  .imagenNav img {
    height: 4em;
    width: auto;
    margin-left: 1.1em;
    margin-right: 3em;
    box-shadow: 1px 0 1em rgba(135, 240, 135, 0.48);
  }
  
  .botones {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
  }
  
  .scaleupVerticalcenter {
    animation: scaleup-verticalcenter 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
  
  .links {
    display: flex;
    align-items: center;
    margin-right: 50px;
    justify-content: center;
  }
  
  .link {
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    margin: 40px 0;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
  }
  
  .link:hover {
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4;
    -webkit-box-reflect: below 1px linear-gradient(transparent);
  }
  
  .icon {
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.2em;
    margin-left: 1.6em;
  }
  
  .logoutText {
    margin-left: center;
  }
  
  @keyframes scaleup-left {
    0% {
      transform: scale(0.5) translateX(-200px);
    }
    100% {
      transform: scale(1) translateX(0);
    }
  }
  
  @keyframes scaleup-verticalcenter {
    0% {
      transform: scale(0.5) translateY(-200px);
    }
    100% {
      transform: scale(1) translateY(0);
    }
  }
  